.flexContainerColumnPageWidth {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexContainerColumnPageWidthBottom {
  width: 100%;
  background-color: #202020;
  display: flex;
  justify-content: center;
  align-items: center;
}
