.mainContainer {
  margin-left: calc(100vw - 100%);
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flexContainerColumnPageWidth {
  width: 100%;
  background-color: #404040;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexContainerColumnPageWidthBottom {
  width: 100%;
  background-color: #202020;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexContainerLeftAlignTop {
  background-color: #404040;
  display: flex;
  justify-content: flex-start;
}

.flexContainerCenterAlignTop {
  background-color: #404040;
  display: flex;
  justify-content: center;
}

.flexContainerRightAlignTop {
  background-color: #404040;
  display: flex;
  justify-content: flex-end;
}

.flexContainerLeftAlignBottom {
  display: flex;
  justify-content: flex-start;
}

.flexContainerCenterAlignBottom {
  display: flex;
  justify-content: center;
}

.flexContainerRightAlignBottom {
  display: flex;
  justify-content: flex-end;
}

.leftColumn {
  flex: 1;
}

.centerColumn {
  flex: 1;
}

.rightColumn {
  flex: 1;
}

.main {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  background-color: var(--main-background-color);
}

.mainGutterLeft {
  position: sticky;
  top: var(--header-height);
  flex-grow: 1;
}

.mainColumn {
  width: var(--main-width);
  min-height: 100vh;
}

.mainGutterRight {
  position: sticky;
  top: var(--header-height);
  flex-grow: 1;
}

.header {
  height: calc(var(--header-height));
  color: white;
  background-color: black;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  border-bottom: var(--header-bottom-border) solid #a9a9a9;
}

.bodyContainer {
  min-height: calc(100vh - var(--header-height) - var(--header-bottom-border) - var(--footer-height));
  display: flex;
  flex-direction: column;
  background-color: #202020;
}

.body {
  flex: 1;
}

.footer {
  height: var(--footer-height);
  color: white;
  background-color: black;
  justify-content: center;
  align-items: center;
  position: sticky;
  bottom: 0;
  width: var(--main-width);
}
